/*
 * From @yuukithemes.com
 * Widget Genre Anime [21/02/18]
 * 
 *
 */
 .yuukithemes-genre {
     width: auto;
     height: 520px;
     float:none;
     overflow: scroll;
}

.yuukithemes-genre li{float:left;width:calc(50% - 6px);text-align:center;position:relative;margin:3px;list-style: none;}
.yuukithemes-genre ul{list-style:none;margin:0 -5px;padding:0}
.yuukithemes-genre ul:after{content:"";display:block;clear:both}
.yuukithemes-genre li a{display:block;color:#fff;z-index:10;position:relative;padding:9px;font-weight:700}
.yuukithemes-genre li a:before{content:"";position:absolute;background:#353638 center no-repeat;background-size:100%;top:0;left:0;width:100%;height:100%;border-radius:4px;filter:grayscale(1) opacity(.6);z-index:10}
.yuukithemes-genre li a:after{content:"";position:absolute;background:#000;width:100%;height:100%;top:0;left:0;z-index:5;border-radius:4px}
.yuukithemes-genre li a:hover:before{filter:grayscale(0) opacity(.7)}
.yuukithemes-genre li a span{display:block;position:relative;z-index:12;}
.yuukithemes-genre li a[title~=Action]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Action0.jpg");}
.yuukithemes-genre li a[title~=Adventure]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Adventure0.jpg");}
.yuukithemes-genre li a[title~=Comedy]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Comedy.jpg");}
.yuukithemes-genre li a[title~=Demons]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Demons%20Physcological.jpg");}
.yuukithemes-genre li a[title~=Drama]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/4c890c61/img/Comedy%20Drama.jpg");}
.yuukithemes-genre li a[title~=Ecchi]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/8ed091db/img/Ecchi.jpg");}
.yuukithemes-genre li a[title~=Fantasy]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Fantasy3.jpg");}
.yuukithemes-genre li a[title~=Game]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0e712221/img/Demons%20Game%20Fantasy.jpg");}
.yuukithemes-genre li a[title~=Hareem]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Harem0.jpg");}
.yuukithemes-genre li a[title~=Historical]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/17bb3580/img/Historical.jpg");}
.yuukithemes-genre li a[title~=Horror]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Horror.jpg");}
.yuukithemes-genre li a[title~=Isekai]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Isekai.jpg");}
.yuukithemes-genre li a[title~=Kids]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Kids%20Shounen.jpg");}
.yuukithemes-genre li a[title~=Magic]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Magic%20%20Demon.jpg");}
.yuukithemes-genre li a[title~=Martial-Arts]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Martial%20Arts0.jpg");}
.yuukithemes-genre li a[title~=Mecha]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Mecha%20%20Sci-FI.jpg");}
.yuukithemes-genre li a[title~=Military]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Military.jpg");}
.yuukithemes-genre li a[title~=Music]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Music0.jpg");}
.yuukithemes-genre li a[title~=Mystery]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Mystery.jpg");}
.yuukithemes-genre li a[title~=Parody]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Parody0.jpg");}
.yuukithemes-genre li a[title~=Police]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/police.png");}
.yuukithemes-genre li a[title~=Psychological]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Psychological.jpg");}
.yuukithemes-genre li a[title~=Romance]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Romance%20Ecchi.jpg");}
.yuukithemes-genre li a[title~=School]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/School0.jpg");}
.yuukithemes-genre li a[title~=Sci-Fi]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0e712221/img/11.jpg");}
.yuukithemes-genre li a[title~=Seinen]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Seinen.jpg");}
.yuukithemes-genre li a[title~=Shounen]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0e712221/img/Demons%20Game%20Fantasy.jpg");}
.yuukithemes-genre li a[title~=Shoujo]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Shoujo.jpg");}
.yuukithemes-genre li a[title~=Slice-of-Life]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/4cf7f76c/img/Slice%20of%20life.jpg");}
.yuukithemes-genre li a[title~=Space]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Space.jpg");}
.yuukithemes-genre li a[title~=Sports]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Sports.jpg");}
.yuukithemes-genre li a[title~=Supernatural]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Supernatural%20Superpower.jpg");}
.yuukithemes-genre li a[title~=Super-Power]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/4c890c61/img/Demons%20Magic%20Superpower.jpg");}
.yuukithemes-genre li a[title~=Tragedy]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Tragedy.jpg");}
.yuukithemes-genre li a[title~=Vampire]:before{background-image:url("https://cdn.staticaly.com/gh/xerzo/iamzero.github.io/0922058a/img/Vampire.jpg");}
@media screen and (max-width:480px){
.yuukithemes-genre li{float:none;width:100%}.yuukithemes-genre li a{padding:11px}
}
